#logo-wrapper {
    /* max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center; */
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(255, 0, 0);
  }

body{
    margin: 0;
    padding: 0;
    background-color: black;
}
#menu-bar{
    background-color: rgb(108, 0, 0);
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
    height: 4rem;
}
#menu-bar li a {
    color: blanchedalmond;
    font-weight: bold;
    padding: 0.5rem 1rem;
}
#menu-bar li a:hover {
    background-color: aquamarine;
}
#content{
    display: flex;
    /* height: 100px; */
    background-image: url('/bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
