


@font-face {
    font-family: 'hardcore pen';
    src: url(/public/hardcore_pen_regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
     pointer-events: auto;
    cursor: url(/public/ushank/cursorhover.png),pointer;
    cursor: url(/public/ushank/cursor.png),default;

font-size:1.75rem;
    
}
a{
      cursor: url(/public/ushank/cursorhover.png),pointer;
}

#chimney-top
{
    padding: 0;
    width: 512px; 
     position:absolute;
    height: 100%;
    padding: 0;
    left: 0;
    background-size:100%;
    background-repeat: no-repeat;
    top: 0; 
    /* background-repeat: repeat-y; */
    background-image: url("/public/ushank/chimneytop.gif");
}
.sidebar{
    
    height: 512px;
    width: 512px; /* Set the width of the sidebar */
     position:absolute;
    z-index: 1; /* Stay on top */
    background-size:100%;
   
    
    
     /* Disable horizontal scroll */


  }

  /*this smells*/
 /* #menuitem-one{
 top: 280px;
      left: 128px;

      margin: 0;
      background-repeat: no-repeat;
     justify-content: center;
      position:absolute;
     height: 64px;
    width: 256px; 
      
      z-index: 4;
 }
 #menuitem-two{
    top: 330px;
      left: 128px;

      margin: 0;
      background-repeat: no-repeat;
     justify-content: center;
      position:absolute;
     height: 64px;
    width: 256px; 
      
     z-index: 3;
 }
  #menuitem-three{
 top: 390px;
      left: 128px;

      margin: 0;
      background-repeat: no-repeat;
     justify-content: center;
      position:absolute;
     height: 64px;
    width: 256px;
      
      z-index: 2;
 }
 #menuitem-four{
   

      margin: 0;
      background-repeat: no-repeat;
     justify-content: center;
      position:absolute;
     height: 64px;
    width: 256px;
    
     z-index: 1;
 } */
  .sidebar-menu{

     top: 0;
    padding-top: 50%;
    margin: 10px;
    
  }
  #menubar{
  
  
    cursor: url(/public/ushank/cursor.png),auto;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    size: 0;
   
    
    z-index: 2;
  }


  /* #menu-bar li a {
    background-image: url("/public/ushank/chimney-selection-red.gif");
      display: flex;


      padding: 0.5rem 1rem;
      
  } */
  

  #chimney-repeating{
      background-image: url("/public/ushank/chimney-repeating.gif");


      
    display: flex;
    min-height: 100vh;
    padding: 0;
    /* width: 512px;  */
     position:absolute;

    border: 0;
    padding: 0;
    left: 0;
    background-repeat: repeat-y;
    top: 512px; 
    bottom:0;
    /* background-repeat: repeat-y; */
  
    /* background-repeat: repeat-y; */
    /* overflow-x: hidden; */
    z-index: 2;
      width: 100%;
    /* height: 400%; */
    
    /* max-height: max-content; */
    
  }

.content{
    /* display: flex; */
    /* height: 100px; */
    width: 100%;
    height: 100%;
    background-image: url('/public/ushank/background.png');
    background-size:70%;
    background-repeat: repeat-y;
    background-position: center;
    
    
    margin-left: 100px;
    padding: 0;

    text-align: center;
    justify-content: center;
    
}
 img {
  max-width: 100%;
  height: auto;
}
.hidden {
  display: none;
}
#header{
   animation-name:blink-subtle;
   animation-duration:2s;
    animation-timing-function:ease-in;
    animation-iteration-count:Infinite;
    /* text-shadow:10px #000000; */
    font-family: 'hardcore pen';
    text-align: center;
    justify-content: center;
     
      margin: 0;
      padding: 0;
    font-size: 7.5rem;
}
#dot-points{
  font-family: 'hardcore pen';
   margin-left: 35%;
  text-align: left;
   justify-content: left;
   padding: 0;
   font-size: 3.75rem;
}
 .drop-down-menu{
             font-size: 90%;
               text-align: left;
   justify-content: left;
    /* margin-left: 10%; */
          }
  .drop-down-menu p
  {
     margin-left: 25vw;
     margin-right: 20vw;
  }
  .drop-down-menu img
  {
    margin-left: 25vw;
    justify-content: center;
    align-items: center;
      /* transform:scale(.75); */
      transform:scale(.85)
  }
 #warning{
      text-align: center;
    justify-content: center;
     
      margin: 0;
      padding: 0;
    font-size: 90px;
   animation-name:blink-unsubtle;
   animation-duration:.75s;
    animation-timing-function:ease-in;
    animation-iteration-count:Infinite;
}
  @keyframes blink-subtle{
    0%{color:black;}
    50%{color:rgb(41, 41, 41);}
    100%{color:black;}}
    @keyframes blink-unsubtle{
    0%{color:rgb(255, 0, 0);}
    50%{color:rgb(41, 41, 41);}
    100%{color:rgb(255, 0, 0);}}


#title{
  animation-name: bouncein;
  animation-duration:1s;
   animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  
}  
@keyframes bouncein{
    0%{ transform: translate3d(0,  -400px, 0);}
    40% { transform: translate3d(0,0, 0);}
    60%{ transform: translate3d(0,  -100px, 0);}
    100%{ transform: translate3d(0,0, 0);}
}
  
#scalingbob{
  animation-name:scaling;
    /* width:280px; */
    animation-duration:1s;
    animation-timing-function:ease-in;
    animation-iteration-count:Infinite;
    }
  
  @keyframes scaling{
    0%{scale: 50%;}
    50%{scale: 75%;}
    100%{scale: 50%;}
  }
  #rotatebitbob{
    
     animation-name:rotatebit;
    /* width:280px; */
    animation-duration:2s;
    animation-timing-function:ease-in;
    animation-iteration-count:Infinite;
    }
  
  @keyframes rotatebit{
    0%{rotate:10deg;}
    50%{rotate: 30deg;}
    100%{rotate: 10deg;}
  }
  #garentee{
    margin-left: 80%;
    top: 0;
   
  }
  footer{
    z-index: 2;
    width: 100%;
    height: 4.5rem;
    position:fixed;
    background-image: url(/public/ushank/websitefooter.png);
     z-index: 10;
    bottom: 0;
  }
  #cargif{

    position:fixed;
    bottom: 1rem;
     width: auto;
    transform:scale(.5);
    z-index: 10;

    animation-name: transformrighttoleft;
    animation-duration:6s;
    animation-timing-function:linear;
    animation-iteration-count:Infinite;
    

  }
  @keyframes transformrighttoleft{
    from{translate: 110vw;}
    to{translate: -20vw;}
  }
  #ushankrender{
    transform:scale(.75);
    right: 0;
    bottom: 0;
    top: 50rem;
    
    left: 15rem;
    z-index: 0;
    position: absolute;
    display: block;
    max-width: 50%;
    height: auto;
  }
  #demodiscspin{
     position: relative;
    z-index: 5;
  }

  #christ{
    transform:scale(.75);
    box-sizing: 75%;
    z-index: 1;
    
  }


button{
     cursor: url(/public/pointer2.png),default;
    background-color: transparent;
    border: transparent;
}
  
 .collapsible {
  justify-content: center;
    color: white;
  cursor: pointer;
 padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
   cursor: url(/public/ushank/cursorhover.png),default;
    background-color: transparent;
    border: transparent;
   -webkit-filter: drop-shadow(4px 4px 0 black)
    drop-shadow(-4px -4px 0 black);
    filter: drop-shadow(4px 4px 0 black) 
    drop-shadow(-4px -4px 0 black);

}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
   padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  
  background-color: #00000037;

}

.image-container {
  /* text-align: center; */
    margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 5;
  
  width: 100%; 
  
  max-width: 35rem;
}

.image-container img {
  display: block;

  /* justify-content: center;
  text-align: center; */
  width: 100%;
  height: auto;
}

.image-text {
 
  position: absolute; 
  /* top: 0%; */
  bottom: 55%; 
  top: 1%;
  left: 10px;
 
  padding: .5rem 1rem;
  font-size: 90%;
  border-radius: 5px;
}
/* #mook-blurb
{
  padding: .5rem 1rem;
   display: block;
    text-align: left;
   
    background-size:70%;
     height: auto;
} */
.container {
  left: auto;
   width: auto; 
    margin-left: 15%;
    margin-right: 15%;
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: 25%; */
  /* background-color: dodgerblue; */
  padding: .1rem;
}

.container div {
  background-color: #00a93e5d;
  border: 2px solid black;
  padding-left: 1.5rem;
  font-size: 1.2rem;
  text-align: left;
  
}
.container p
{
   padding-left: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
      display: block;
  margin: auto;
   width: 75%;
}
#container-img
{
    display: block;
  margin: auto;
   width: 75%;

}



